{% extends "index/base.html" %}

{% block content %}

<body>
<h1><center>Exchange Schedule Register</center></h1><hr>
<div class="container">

<div class="exchange">
        <form method="POST" style="padding: 20px; font-size: 15px; font-weight: bold;">
            {% csrf_token %}
            <div class="form-group" >
                <label style="font-size: 16px;">신청자</label> &nbsp;&nbsp; {{ form.employee1 }}  </div>
            <div class="form-group">
                <label style="font-size: 16px;">START</label> &nbsp;&nbsp;<input type="datetime-local" name="start1"></div>
            <div class="form-group">
                <label style="font-size: 16px;">END</label> &nbsp;&nbsp;<input type="datetime-local" name="end1"> </div>
            <div class="form-group">
                <label style="font-size: 16px;">피신청자</label> &nbsp;&nbsp; {{ form.employee2 }}
            </div>
            <div class="form-group">
                <label style="font-size: 16px;">START</label> &nbsp;&nbsp;<input type="datetime-local" name="start2"> </div>
            <div class="form-group">
                <label style="font-size: 16px;">END</label> &nbsp;&nbsp;<input type="datetime-local" name="end2"> </div>
            </br>
            <button class="btn btn-info" type="submit">Exchange</button>
            <button class="btn btn-info" type="submit">Substitution</button>

        </form>

    </div>
 </div>

<link rel="stylesheet" href="/static/css/style.css">

</body>
{% endblock %}